# SVN Gitignore
.svn
Subjugator SVN/subjugator8/lib/History/Passives.~(1).PcbLib.Zip
Subjugator SVN/subjugator8/lib/History/Passives.~(1).SchLib.Zip
Subjugator SVN/subjugator8/lib/History/Passives.~(2).PcbLib.Zip
Subjugator SVN/subjugator8/lib/History/Passives.~(2).SchLib.Zip
Subjugator SVN/subjugator8/lib/History/Passives.~(3).PcbLib.Zip
Subjugator SVN/subjugator8/lib/History/SubjuGator8.~(1).LibPkg.Zip
Subjugator SVN/subjugator8/lib/History/SubjuGator8.~(2).LibPkg.Zip
Subjugator SVN/subjugator8/lib/History/SubjuGator8.~(3).LibPkg.Zip
*.Zip
